<section id="home" class="home container-fluid d-flex flex-column  align-items-center  text-primary">

    <h1 class="home-header text-uppercase mb-5 hidden-animation">Hey, I'm Khemark Ocariza</h1>
    <p class="fs-3 custom-max-width text-center hidden-animation" style="margin-bottom: 50px;">Welcome to my
        portfolio! Here,
        you’ll
        find a collection of creative ideas
        brought to life through design and
        functionality. I love crafting digital experiences that leave a lasting impression. Explore my work and
        let’s connect!</p>
    <button class="hidden-animation" onclick="location.href='#projects';">Projects</button>
    </div>
    <div class="scrolldown ">
        <div class="chevrons">
            <div class="chevrondown"></div>
            <div class="chevrondown"></div>
        </div>
    </div>


    <div class="socials-container ">
        <a href="https://www.linkedin.com/in/khemark-ocariza-509b71215/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Faithan" target="_blank">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://web.facebook.com/profile.php?id=100009511302416" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/m0n0s_/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

</section>
